body{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("IMAGES/image2.jpg");
    background-position-x: top;
    background-position-y: top;
}

a {
    color: rgb(29, 45, 214);
    text-decoration: none;
    font-size: xx-large; 
}

a:hover {
    text-decoration: underline;
}

ol {
    font-size: xx-large; 
}

ol li {
    list-style-position: inside; 
}
